.container {
    @apply flex justify-between items-center py-10 px-4; 
}

.rectangle {
    @apply flex-none overflow-auto border-2 p-2 m-2 text-black;
    width: 50vh;
    height: 70vh; 
    border-color: var(--border-color, #4F46E5);
    background-color: var(--bg-color, #BFDBFE);
    min-width: 0;
}
