@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
 
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.custom-select-wrapper {
  display: block;
  position: relative;
  width: 100%; 

}

.custom-select {
  appearance: none;         /* Removes default style for other browsers */
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: gray; 
  padding-right: 30px; 
  position: relative;
  font: Iter, sans-serif;
  width: 100%;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select-wrapper::after {
  content: '▼';
  font-size: 1.5em; /* Adjust the size of the arrow */
  color: #666; /* Adjust arrow color */
  position: absolute;
  right: 10px; /* Adjust as necessary to place the arrow on the far right */
  top: 50%; /* Center the arrow vertically */
  transform: translateY(-50%); /* Ensures the arrow is perfectly centered */
  pointer-events: none;
}
