html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}



.media-container {
  width: 100vw;
  height: 100vh; 
  position: relative; 
  overflow: hidden;
  font-size: 1.25rem; 
  font-family: 'Your Font', sans-serif; 
}

.footer-bar {
  position: absolute;
  bottom: 0; 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}

.font{
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  font-size: 40px; 
}

.font1{
  font-family: 'Inter', sans-serif, light;
  padding: 30px;
  font-weight: 300;
  font-size: 40px;

}

.font2{
  font-family: 'Inter', sans-serif, light;
  padding: 20px;
  font-weight: 100;
  font-size: 20px;

}

.ml-auto {
  margin-left: auto;
}



.hover-shrink-button:hover {
    transform: scale(0.95); 
    transition: transform 0.2s ease-in-out; 
}

.status-container {
  display: flex;
  align-items: center;
}

.status-text {
  height: 40px;
  width: 120px;
  font-size: 20px;
}

.color-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 2.5rem;
}

@media (max-width: 500px) {
  .logo {
    width: 150px;
  }

  .notification-bell {
    width: 30px;
  }

  .map-container .font {
    font-size: 20px;
  }

  .status-text {
    height: 40px;
    width: 100px;
    font-size: 15px;
  }

  .color-circle {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  

}